##############################
# Eclipse project meta data
##############################
/.settings/
/.buildpath
.buildpath
/.project
/.dbeaver-data-sources.xml
/.dbeaver/
/.cproject
/.backup
/*.backup

##############################
# Examples meta data
##############################
/*/*.autosave
/build/
/.qmake.stash
/Makefile
/Makefile.Debug
/Makefile.Release
/Help/*.qhc
/Help/*.qch
